   <!-- 추가된 부분: 모달 창 -->

    <div id="event-dialog" title="이벤트 정보 입력">
        <label for="event-food">음식 이름</label>
        <input type="text" id="event-food" name="event-food">
        <label for="event-start">시작 날짜</label>
        <input type="text" id="event-start" name="event-start" disabled>
        <label for="event-end">소비기한 마감일</label>
        <input type="text" id="event-end" name="event-end" disabled>
        <label for="category">카테고리</label> <br>
        <select id="category" name="category">
            <option value="food">재료</option>
            <option value="no-food">비재료</option>
        </select>
    </div>

    <!-- 모달 창 스타일 -->
    <style>
        /* 모달 대화 상자 스타일 */
        #event-dialog {
            display: none;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            position: relative;
            text-align: left;
        }

        /* 모달 버튼 스타일 */
        #event-dialog button {
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            margin-top: 10px;
            padding: 10px 20px;
        }
    </style>