<!-- side bar -->
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Display</h3>
        </div>
        <!-- 사이드바 메뉴목록2 -->
        <ul class="list-group">
            <li class="list-group-item"><a href="#">calendar</a></li>
            <li class="list-group-item"><a href="#">list</a></li>
        </ul>
    </div>
    <!-- 패널 타이틀3 -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">categories</h3>
        </div>
        <!-- 사이드바 메뉴목록3 -->
        <ul class="list-group">
            <li class="list-group-item"><a href="#">재료</a></li>
            <li class="list-group-item"><a href="#">비재료</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Community</h3>
    </div>
    <!-- 사이드바 메뉴목록3 -->
    <ul class="list-group">
        <li class="list-group-item"><a href="#">교환 및 나눔</a></li>
        <li class="list-group-item"><a href="#">질문</a></li>
        <li class="list-group-item"><a href="#">미분류</a></li>
    </ul>
    <p>⠀⠀⠀  </p>
    <p>⠀⠀⠀  </p>
    <p>⠀⠀⠀  </p>

</div>