<!-- 사이드바 메뉴목록 1 -->
<div class="container-fluid">
    <div class="panel panel-info mb-5">
        <div class="panel-heading">
            <h3 class="panel-title">Display</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">calendar</a></li>
            <li class="list-group-item"><a href="#">list</a></li>
        </ul>
    </div>

    <!-- 사이드바 메뉴목록 2 -->
    <div class="panel panel-info mb-5">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">재료</a></li>
            <li class="list-group-item"><a href="#">비재료</a></li>
        </ul>
    </div>

    <!-- 사이드바 메뉴목록 3 -->
    <div class="panel panel-info ">
        <div class="panel-heading">
            <h3 class="panel-title">Community</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">교환 및 나눔</a></li>
            <li class="list-group-item"><a href="#">질문</a></li>
            <li class="list-group-item"><a href="#">미분류</a></li>
        </ul>
    </div>
</div>


